__pycache__/*
.idea/*
imgs/pixivic/*.png
imgs/pixivic/*.jpg
imgs/pixivic/*.gif
imgs/e621/*.png
imgs/e621/*.jpg
imgs/e621/*.gif
imgs/e926/*.png
imgs/e926/*.jpg
imgs/e926/*.gif
imgs/pixiv/*.png
imgs/pixiv/*.jpg
imgs/pixiv/*.gif
pixivic/*
wiki/page/*
utils/__pycache__/*
pixiv/__pycache__/*
pixiv/headers/*
pixiv/ugoira/*
pixiv/*.json
Proc/__pycache__/*
Subscribers/__pycache__/*
data/buffer/*
*.log
EeveeNet/__pycache__/*
EeveeNet/Nets/*
stalk_pixiv/*